<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--变量名必须由字母、数字、下划线（不能以下划线开头）和点组成。
    语法如下：
        {{变量 }}
    -->
    <hr>
    姓名： {{ username }}
    <hr>
    年龄： {{ age }}
    <hr>
    <!-- 过滤器语法： 变量|过滤器:参数  (不能有空格)
    列举几个如下：
        safe： 禁用转义，告诉模板这个变量是安全的，可以解释执行
        length： 长度，返回字符串包含字符的个数，或列表、元组、字典的元素个数。
        default： 默认值，如果变量不存在时则返回默认值。
            data|default:'默认值'
        date： 日期，用于对日期类型的值进行字符串格式化，常用的格式化字符如下：
            Y表示年： 格式为4位，y表示两位的年。
            m表示月： 格式为01,02,12等。
            d表示日：  格式为01,02等。
            j表示日： 格式为1,2等。
            H表示时： 24进制，h表示12进制的时。
            i表示分： 为0-59。
            s表示秒： 为0-59。
            value|date:"Y年m月j日  H时i分s秒"-->
    时间： {{ birthdy|date:'Y年m月j日  H时i分s秒' }}
    <hr>
    <!--  length： 长度，返回字符串包含字符的个数，或列表、元组、字典的元素个数。  -->
    我有{{ firends|length }}个好朋友：
    <ul>
        <!--
        {{ forloop }} : 循环上下文字典
            'parentloop': {}: 包含当前循环的父级循环信息的字典。如果当前循环是嵌套循环的一部分，这个字典将包含外层循环的信息
            'counter0': 0: 这是当前迭代的编号，从0开始。在这个例子中，counter0 的值为0，表示这是循环的第一个迭代。
            'counter': 1: 这是当前迭代的编号，从1开始。在这个例子中，counter 的值为1，表示这是循环的第一个迭代。
            'revcounter': 3: 这是从循环末尾开始的迭代编号，从1开始递减。在这个例子中，revcounter 的值为3，表示当前迭代是循环中的第几个迭代（从末尾开始计数）。
            'revcounter0': 2: 这是从循环末尾开始的迭代编号，从0开始递减。在这个例子中，revcounter0 的值为2，表示当前迭代是循环中的第几个迭代（从末尾开始计数）。
            'first': True: 这是一个布尔值，如果当前迭代是循环的第一个迭代，则为 True，否则为 False。在这个例子中，first 的值为 True，表示这是循环的第一个迭代。
            'last': False: 这是一个布尔值，如果当前迭代是循环的最后一个迭代，则为 True，否则为 False。在这个例子中，last 的值为 False，表示这不是循环的最后一个迭代。
        -->
        {% for firend in firends %}
            <li>{{ forloop.counter}}. {{ firend }}</li>
        {% endfor %}
    </ul>
    <hr>
    我的女朋友： {{ firends.2 }}  <!--  变量名.下标  -->
    <hr>
    我的月薪:
    <ul>
        <!-- <li>2019年: {{ moneys.2019 }}</li>-->
        <!-- <li>2020年: {{ moneys.2020 }}</li>-->
        <!-- <li>2021年: {{ moneys.2021 }}</li>-->
        {% for year, money in moneys.items %}
            <li>
                {{ forloop.counter}}. {{ year }}年： {{ money }}元 -
                ({% if money >= 15000 %}
                    满足预期月薪
                {% else %}
                    不满足于预期月薪
                {% endif %})
            </li>
        {% endfor %}
    </ul>
    <hr>
    <!--  safe： 禁用转义，告诉模板这个变量是安全的，可以解释执行  -->
    {{ desc|safe }}
    <!--  default： 默认值，如果变量不存在时则返回默认值。  -->
    没有定义的变量： {{ value|default:"----------"}}
</body>
</html>